header {
    border-bottom: 1px solid black;
    width: 100%;
    background: black;
    color: white;
}

.list {
    display: block;

    list-style: none;
    width: 100%;
}

.list li {
    border: 1px black solid;
}

footer {}