{% load static %}
<!doctype html>
<html class="no-js" lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Badmington</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>

<body>
    <header>
        <div class="logo">
            <img src="" alt="">
            <h1>Meudon Badmington</h1>
        </div>
    </header>
    {% block content %}
    <ul>
        {% for player in user_list %}
        <li>
            <div>{{forloop.counter}}</div>
            <div>{{player.player.name}}</div>
        </li>
        {% endfor %}
    </ul>
    {% endblock %}
    <footer>
        <ul>
            <li>
                <input id="addPlayer" type="text">
                <button onclick="add()">Ajouter un utilisateur</button>
            </li>
            <li></li>
        </ul>
    </footer>
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

    <script src="{% static "js/main.js" %}"></script>

</body>

</html>