{% load static %}
<!doctype html>
<html class="no-js" lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Badminton</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static " css/style.css" %}">
    <style>
        header {
            border-bottom: 1px solid black;
            width: 100%;
            background: black;
            color: white;
        }

        .list {
            display: block;

            list-style: none;
            width: 100%;
        }

        .list li {
            border: 1px black solid;
        }

    </style>
</head>

<body>
    <header>
        <div class="logo">
            <img src="" alt="">
            <h1>Meudon Badminton</h1>
        </div>
    </header>
    {% block content %}
    <ul class="list">
        {% for player in user_list %}
        <li onclick="swap()" id="{{player.id}}">
            <div>{{forloop.counter}}</div>
            <div>{{player.player.name}}</div>
        </li>
        {% endfor %}
    </ul>
    {% endblock %}
    <footer>
        <ul>
            <li>
                <input id="name" type="text">
                <button onclick="add()">Ajouter un utilisateur</button>
            </li>
            <li></li>
        </ul>
    </footer>
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

    <!-- <script src="{% static "js/main.js" %}"></script> -->
    <script>
        const result = () => window.prompt('inscriver votre resultat (v = victoire / D = defaite)')
        const add = () => {
            const xhttp = new XMLHttpRequest();
            let name = ""
            xhttp.onreadystatechange = function () {
                if (xhttp.readyState == 4 && xhttp.status == 200) {
                    name = document.getElementById("name").value
                }

                xhttp.open("GET", "/new/" + name, true);
                xhttp.send();
            };

        }

        const swap = () => {

        }
    </script>

</body>

</html>