<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Badmington</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <header>
        <div class="logo">
            <img src="" alt="">
            <h1>Meudon Badmington</h1>
        </div>
    </header>
    <ul>
        <li>Foo</li>
        <li>BAR</li>
        <li>BAZ</li>
    </ul>
    <footer>
        <ul>
            <li>
                <button>Add User</button>
            </li>
            <li></li>
        </ul>
    </footer>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <script src="js/main.js"></script>

</body>

</html>